.main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding-bottom: 0px;
}

#t1
{
    text-align: center;
}

/* #title
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
} */ 


#img
{
    width: 300px;
    height:400px;
    
}

#main_image
{
    display:flex;
    padding:0px;
}

#switch
{
    display: flex;
    align-items:center ;
    justify-content: center;
    width: 250px;
}



.i
{
    height:75px;
    width:60px;
}
#images
{
    width:250px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    

}

/* #next 
{
   
    align-self: center;
    justify-self: flex-start;
    
}

#prev
{
    height:50px;
    align-self: center;
    
} */